.whole-container{
    width: 26%;
    /*height:70%;*/
    background-color   :#ffffff ;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    margin-top: 10%;
    margin-left: 35%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
img,picture,video {
  max-width: 100%;
  border-radius: 10px;
  max-height: 34% !important;
  display: table;
}
#main-heading{
    font-size: 18px;
    padding:10px;
}
#sub-text{
    color: #A9A9A9;
    padding:10px;
}
body{
    background-color: #d1e2eb;
    font-size: 14px;
}
@media screen and (max-width: 900px) {
    .whole-container{
        width: 80%;
        height:100%;
        margin-top: 15%;
        margin-left: 10%;
    }
}